<configuration debug="true" scan="true" scanPeriod="5 seconds">
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>


  <root level="WARn">
      <appender-ref ref="STDOUT" />
  </root>-->
</configuration>